.container {
  max-height: 60vh;
  min-height: 20vh;
  overflow-y: auto;
  overflow-x: hidden;

  .dog {
    width: 100%;
    text-align: center;

    img {
      width: 100%;
    }

    p {
      text-align: center;
    }
  }

  :global {
    .el-col {
      margin-bottom: 16px;
    }
  }

  .info {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin: 4px;
    }
  }
}